{% extends "base.html"%}

{% block the_body %}

<div id="computer">
    <div id="computerCards">
        {% for _ in range(n_computer) %}

            <img src="/static/cards/back.png" class="cardImg">

        {% endfor %}
    </div>
</div>

<a href="\pick\0">
    <div id="deckStack">
        <h id="deckAmt">{{deck}}</h>
        <h id="goFishButton">GoFish</h>
        {% for t in range(deck) %}
        <img src="/static/cards/back.png" class="deckCard" style="transform: translateY(-{{t}}px);">
        {% endfor %}
    </div>
</a>

<div id="playerPairStack">
    <h id="playerPairAmt">  Pairs<br>{{(playerPair / 2)|round|int}}</h>
    {% for t in range(playerPair) %}
    <img src="/static/cards/back.png" class="playerPairCard" style="transform: translateY(-{{(t - 1) / 2}}px);">
    {% endfor %}
</div>

<div id="computerPairStack">
    <h id="computerPairAmt">  Pairs<br>{{(computerPair / 2)|round|int}}</h>
    {% for t in range(computerPair) %}
    <img src="/static/cards/back.png" class="computerPairCard" style="transform: translateY(-{{(t - 1) / 2}}px);">
    {% endfor %}
</div>

<div id="player">
    <div id="playerCards">
    {% for card in cards %}
        <div id="playerCard">
        <p class="giveCard">Give</p>
        <a href="\pick\{{ card[: card.find('_')] }}"><img src="/static/cards/{{ card }}" class="cardImg"></a>
    </div>
    {% endfor %}
    </div>
</div>

    <div class="resolve">
        <img src="/static/cards/{{ resolveCard }}" class="cardImg">
    </div>
    
    <div class="resolve">
        <img src="/static/cards/{{ animateCard }}" id="animateCard">
    </div>
    
    <div class="resolve">
        <img src="/static/cards/{{ disolveCard }}" id="disolveCard">
    </div>



{% endblock %}